<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyBud</title>
</head>
<body>
    {% include 'navbar.html' %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tages %} class="{{ message.tags }}" {% endif %}>{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}

   {% block content %} <!-- provides more fucnctionality over children, can be overridden while include provides lesser. -->

    {% endblock %}

</body>
</html>